<div class="page-header">
  <h1>
    API Documentation
    <small>Version {{ version }}</small>
  </h1>
</div>

<h1 id="methods">
  Methods
</h1>

<p>
Method paths begin with <code>/api</code>.

<p>
All methods return JSON object bodies with the
<code>Content-Type: application/json</code> header.

<p>
For <code>POST</code> methods, parameters must be form-encoded, i.e. sent with
the <code>Content-Type: application/x-www-form-urlencoded</code> header.

<h2 id="meta">
  Meta
</h2>

<h3 id="meta/version">
  <code>meta/version</code>
  <span class="label label-default"
        title="Will not change in future API versions">
    frozen
  </span>
</h3>

<p>
Get the current version of the API.

<p>
<pre>
<span class="text-primary">GET</span> <span class="text-danger">/api/meta/version</span>
</pre>

<p>
Returns a hash containing integer values in the <code>major</code>,
<code>minor</code> and <code>patch</code> keys, and a string representation in
the <code>string</code> key.

<p>
<pre>
{
    <span class="text-info">"major"</span>: <span class="text-danger">0</span>,
    <span class="text-info">"minor"</span>: <span class="text-danger">1</span>,
    <span class="text-info">"patch"</span>: <span class="text-danger">0</span>,
    <span class="text-info">"string"</span>: <span class="text-info">"0.1.0"</span>
}
</pre>

<h2 id="classification">
  Classification
</h2>

<h3 id="classify">
  <code>classify</code>
</h3>

<p>
Classify the language of a code sample.

<p>
<pre>
<span class="text-primary">POST</span> <span class="text-danger">/api/classify</span>
</pre>

<p>
<ul class="list-unstyled">
  <li><code>sample</code>: the code sample</li>
</ul>

<p>
Returns an array of language name strings, ordered most probable to least
probable.

<p>
<pre>
[
    <span class="text-info">"Ruby"</span>,
    <span class="text-info">"Clojure"</span>,
    <span class="text-info">"JavaScript"</span>,
    <span class="text-muted">...</span>
]
</pre>

<h3 id="classify/scores">
  <code>classify/scores</code>
</h3>

<p>
Classify the language of a code sample with normalized scores.

<p>
<pre>
<span class="text-primary">POST</span> <span class="text-danger">/api/classify/scores</span>
</pre>

<p>
<ul class="list-unstyled">
  <li><code>sample</code>: the code sample</li>
</ul>

<p>
Returns an array of pairs of language name strings and score floats, ordered
most probable to least probable. The scores are normalized such that the most
probable language has a score of 1.0, and all others have a score between 0.0
and 1.0.

<p>
<pre>
[
    [ <span class="text-info">"Ruby"</span>, <span class="text-danger">1.0</span> ],
    [ <span class="text-info">"Clojure"</span>, <span class="text-danger">0.78</span> ],
    [ <span class="text-info">"JavaScript"</span>, <span class="text-danger">0.48</span> ],
    <span class="text-muted">...</span>
]
</pre>

<h3 id="classify/raw">
  <code>classify/raw</code>
</h3>

<p>
Classify the language of a code sample with logarithmic probabilities.

<p>
<pre>
<span class="text-primary">POST</span> <span class="text-danger">/api/classify/raw</span>
</pre>

<p>
<ul class="list-unstyled">
  <li><code>sample</code>: the code sample</li>
</ul>

<p>
Returns a hash of language name strings to score floats. The scores are raw
logarithmic probabilities.

<p>
<pre>
{
    <span class="text-info">"Ruby"</span>: <span class="text-danger">-346.887</span>,
    <span class="text-info">"Clojure"</span>: <span class="text-danger">-476.993</span>,
    <span class="text-info">"JavaScript"</span>: <span class="text-danger">-877.438</span>,
    <span class="text-muted">...</span>
}
</pre>
