<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-primary" href="https://github.com/programble/dirt">
      <i class="icon-github"></i> GitHub
    </a>
  </div>
  <h1>Dirt <small>Language Detection Service</small></h1>
</div>

<p class="lead">
  <span class="text-primary">{{ tokens }}</span> tokens from
  <span class="text-primary">{{ samples }}</span> samples in
  <span class="text-primary">{{ languages }}</span> languages.
</p>
